*{
    padding: 0px;
    margin: 0px;

}

.naContainer{
    background-color: rgb(143, 236, 140);
    
    
    
}
.naContainer li{
    /* background-color: rgb(105, 170, 226); */
    list-style: none;
    float: right;
    

}
.item{
    /* margin-left: 20px; */

}
#a{
   margin-left: 15px;
}

#b{
  margin-left: 5px;
}

.naContainer ul{
    /* margin-left: 0px; */
}